	body{
			background-color: #455A64;
			
			margin: 0 auto;
			color: #FFF;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
			line-height:40px;
		}

		p{
			font-weight:bold;
		}

		#cupom{
			margin: 0 auto;
			width:100%;
			
			background-color:#00BCD4;
			padding: 10px;
			margin-top: 100px;]
			margin-bottom:40px;
			border: 8px solid #CDDC39;
			
		}

		#cupom li{
			list-style: none;
		}

		#relatorio{
			text-align:center;
		}

		#produtos{
			clear: both;
		}

		#venda{
			margin: 0 auto;
			text-align: center;
		}

		 table, th,td, tr{
			border: 2px solid white;
			border-collapse: collapse;
			margin: 0 auto;

		}
		
		

		#header td{
			margin:0 auto;
			border-style:hidden;
			
		}
